In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt
import statsmodels.formula.api as smf

df = pd.read_csv('Worlds Best Employers.csv')
df.head(5)

,RANK,NAME,INDUSTRIES,COUNTRY/TERRITORY,EMPLOYEES
0,1,Samsung Electronics,"Semiconductors, Electronics, Electrical Engine...",South Korea,266673
1,2,Microsoft,"IT, Internet, Software & Services",United States,221000
2,3,IBM,"Semiconductors, Electronics, Electrical Engine...",United States,250000
3,4,Alphabet,"IT, Internet, Software & Services",United States,156500
4,5,Apple,"Semiconductors, Electronics, Electrical Engine...",United States,154000

In [48]:
df.describe()

             RANK     EMPLOYEES
count  100.000000  1.000000e+02
mean    50.500000  1.153616e+05
std     29.011492  1.845432e+05
min      1.000000  2.000000e+01
25%     25.750000  2.189850e+04
50%     50.500000  7.891550e+04
75%     75.250000  1.330000e+05
max    100.000000  1.608000e+06

In [49]:
df2 = pd.DataFrame(df['COUNTRY/TERRITORY'].value_counts()).reset_index()
df2 = df2.rename(columns = {'index': 'Country', 'COUNTRY/TERRITORY': 'Count'})
df2

                 Country  Count
0          United States     40
1                Germany     17
2                 France      8
3                  Italy      6
4                  Japan      5
5            South Korea      4
6                  China      4
7            Switzerland      3
8            Netherlands      3
9         United Kingdom      2
10                Canada      2
11                 India      1
12          Saudi Arabia      1
13                Sweden      1
14             Singapore      1
15               Austria      1
16  United Arab Emirates      1

In [50]:
bars = alt.Chart(df2).mark_bar().encode(
    x = alt.X('Count:Q'),
    y = alt.Y('Country:N', sort = alt.EncodingSortField(field = "Country", op = "count", order = 'ascending')),
    color = alt.Color('Country', sort = '-x', legend = None)
)

text = bars.mark_text(
    align = 'left',
    baseline = 'middle',
    dx = 3  # Nudges text to right so it doesn't appear on top of the bar
).encode(
    text = 'Count:Q'
)

(bars + text).properties(height = 400, width = 800)

/Users/ngtengsuan/opt/anaconda3/lib/python3.9/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.LayerChart(...)

In [60]:
df3 = pd.DataFrame(df['INDUSTRIES'].value_counts()).reset_index()
df3 = df3.rename(columns = {'index': 'Industry', 'INDUSTRIES': 'Count'})
df3

                                             Industry  Count
0                   IT, Internet, Software & Services     12
1                      Banking and Financial Services     10
2                                 Aerospace & Defense     10
3               Automotive (Automotive and Suppliers)     10
4                                Retail and Wholesale      8
5                   Clothing, Shoes, Sports Equipment      7
6                          Engineering, Manufacturing      7
7   Semiconductors, Electronics, Electrical Engine...      6
8                               Drugs & Biotechnology      6
9                                        Conglomerate      4
10                                          Utilities      4
11                             Travel & Leisure            3
12                       Transportation and Logistics      3
13            Food, Soft Beverages, Alcohol & Tobacco      2
14  Construction, Oil & Gas Operations, Mining and...      2
15                                     Packaged Goods      2
16        Telecommunications Services, Cable Supplier      1
17                                Healthcare & Social      1
18                   Health Care Equipment & Services      1
19                                Media & Advertising      1

In [53]:
bars = alt.Chart(df3).mark_bar().encode(
    x = alt.X('Count:Q'),
    y = alt.Y('Industry:N', sort = alt.EncodingSortField(field = 'Industry', op = 'count', order = 'ascending')),
    color = alt.Color('Industry', sort = '-x', legend = None)
)

text = bars.mark_text(
    align = 'left',
    baseline = 'middle',
    dx = 3  # Nudges text to right so it doesn't appear on top of the bar
).encode(
    text = 'Count:Q'
)

(bars + text).properties(height = 400, width = 800)

alt.LayerChart(...)

In [112]:
base = alt.Chart(df3).mark_arc(innerRadius = 50).encode(
    theta = alt.Theta(field = 'Count', type = 'quantitative'),
    color = alt.Color(field = 'Industry', type = 'nominal', sort = alt.EncodingSortField(field = 'Industry', op = 'count', order = 'descending')),
    order = alt.Order(field = 'Count', type = "quantitative", sort = 'ascending')
)

text = alt.Chart(df3).mark_text(radius = 120).encode(
    theta = alt.Theta('Count:Q', stack = True),
    text = 'Count'
)

(base + text).properties(height = 400, width = 800)

/Users/ngtengsuan/opt/anaconda3/lib/python3.9/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.LayerChart(...)

In [114]:
data = pd.DataFrame({'x': df['EMPLOYEES'], 'y': df['RANK']})
data.corr()

          x         y
x  1.000000 -0.251331
y -0.251331  1.000000

In [115]:
model = smf.ols('EMPLOYEES ~ RANK', data = df)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              EMPLOYEES   R-squared:                       0.063
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     6.608
Date:                Mon, 02 Jan 2023   Prob (F-statistic):             0.0117
Time:                        20:26:16   Log-Likelihood:                -1350.7
No. Observations:                 100   AIC:                             2705.
Df Residuals:                      98   BIC:                             2711.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.961e+05   3.62e+04      5.421      0.000    1.24e+05    2.68e+05
RANK       -1598.7276    621.936     -2.571      0.012   -2832.940    -364.515
==============================================================================
Omnibus:                      153.655   Durbin-Watson:                   2.086
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7374.951
Skew:                           5.604   Prob(JB):                         0.00
Kurtosis:                      43.551   Cond. No.                         117.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.